html
{
   
}
body
{
	background-image:liner-gradient(orange,white,green);
	text-align:center;
	font-family:"conic sans ms",sans-serif;
}
#nav-links
}
{

}
#nav-links>a
{
	text-decoration:none;
	margin:20px;
}
#nav-links>a:hover
{
    border-bottom:3px solid white;
}
h2
{
	background-image:linear gradient(black,darkgray);
	color:white;
	padding:5px 20px;
	width:400px;
	margin:30px auto;
	border-radius:50px 0px 50px 0px;
	box-shadow:0 0 10px white;
}
table
{
	width:100%;
}
img
{
   box-shadow:0 0 10px white;
   border-radius:20px;
   padding:5px;
}