div
{
	background-color: darkblue;
	height: 70px;
	margin: 0px;
	display: flex;
	align-items: center;
	justify-content: space-around;

}
body
{
	margin: 0px;
}
h1
{
	color: white;
	align-items: flex-start;
}
div>a
{
	color: white;
	text-decoration: none;
	
}
div>a:hover
{
	background-color:lightskyblue;
	
	box-shadow: 0  0 20px  red;
	color: red;
}

